//Mobile first
@media (min-width: 1200px) {
	.section-menu {
		&__card-list {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	.reviews{
		&__slider{
			margin-right: -10px;
			margin-left: -10px;
		}
	}
	.reviews__slider-list .slick-slide {
		margin-right: 10px;
		margin-left: 10px;
	}
}

// Desktop first
// @media (max-width: 1200px) {

// }
