// Desktop first
// @media (max-width: 600px) {

// }

// Mobile first
@media (min-width: 600px) {
	:root {
		--container-width: 600px;
		--container-padding: 20px;
	}
	.title-rus {
		font-size: 56px;
	}
	.header {
		&__slide {
			min-height: 683px;
		}
		&__slider-text-block {
			margin-top: 248px;
		}
		&__slider-text-top {
			font-size: 36px;
		}
		&__slider-text-main {
			margin: 0 auto;
			max-width: 500px;
			font-size: 60px;
		}
		&__slider-text-chi {
			font-size: 40px;
		}
		&__top {
			padding: 20px;
		}
		&__phone {
			position: absolute;
			color: var(--color-text-light);
			left: calc(50% - 92px);
			top: 162px;
			font-size: 20px;
			column-gap: 12px;
			display: flex;
			align-items: center;
		}
		&__user-tools {
			height: 51px;
			width: 51px;
		}
		&__user-cab-link {
			margin-right: 12px;
		}
		&__cart-items-qauntity {
			width: 22px;
			height: 22px;
			top: -4px;
			right: -9px;
			font-size: 16px;
		}
		&__booking-block {
			display: flex;
			flex-direction: row;
			justify-content: center;
			column-gap: 21px;
			position: absolute;
			top: 496px;
			left: calc(50% - 280px);
		}
		&__to-index {
			display: flex;
			flex-direction: row;
			justify-content: center;
			column-gap: 21px;
			position: absolute;
			top: 496px;
			// left: calc(50% - 280px);
		}
		&__booking-link {
			width: 270px;
			height: 76px;
			border-radius: 9px;
		}
		&__booking-text-rus {
			font-size: 16px;
			margin: 19px 12px;
		}

		&__booking-separator {
			height: 63px;
		}
		&__booking-text-chi {
			font-size: 20px;
			padding: 15px;
			min-width: 110px;
		}
	}
	.slick-dots {
		bottom: 23px;
		& li {
			margin: 0 4px;
			width: 8px;
			height: 8px;
			border-radius: 5px;
			&.slick-active {
				width: 45px;
			}
		}
	}
	.delivery {
		&__link {
			& > .header__booking-text-rus {
				max-width: 135px;
			}
		}
	}
	.menu {
		display: none;
	}
	.logo {
		width: 122px;
		height: 122px;
		position: absolute;
		top: 20px;
		left: calc(50% - 61px);
	}
	.svg-header--user-dims {
		width: 20px;
	}
	.svg-main--menu--cart-dims {
		width: 25px;
	}
	.svg-header--phone-dims {
		width: 17px;
		height: 17px;
	}
	// Mobile Nav======================================================================
	
.svg-icons--closeNavBtn-dims {
	height: 50px;
	width: 50px;
}
.svg-header--nav-time-dims,
.svg-header--nav-map-dims,
.svg-header--nav-phone-dims {
	width: 20px;
	height: 20px;
}
.mobile-nav {
	
	&__inner {
		translate:-100%;

		z-index: 2;
		transition: 0.7s;
		position: absolute;
		background-color: rgba($color: #1b1b1b, $alpha: 0.7);
		width: 100vw;
		// width: calc(100vw - var(--scrollbar-width));
		height: 100vh;
		&:has(.mobile-nav--active) {
			display: flex;
		}
	}

	&__close {
		position: absolute;
		top: 24px;
		right: 24px;
	}
	&__close-icon {
	}
	&__main {

		height: 100%;
		max-width: 380px;
		padding: 30px 40px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
	}
	&__head {
	}
}
body:has(.mobile-nav--active) {
	// overflow-y: hidden;
	// overflow-y: scroll;
	// position: fixed;
}
.mobile-nav__inner.mobile-nav--active {
	translate: 0% ;
}
@media (min-device-width: 820px) {
	// body:has(.mobile-nav--active) {
	// //  overflow-y: hidden;
	// 	overflow-y: scroll;
	// 	position: fixed;
	// }

	.mobile-nav {
			
		&__close {
			position: absolute;
			top: 33px;
			right: 37px;
		}
		&__inner {
			background-color: rgba($color: #1b1b1b, $alpha: 0.7);
			width: calc(100vw - var(--scrollbar-width));
			&.mobile-nav--active {
				width: 100vw;
			}
		}
	}
}
.nav-logo {
	display: flex;
	justify-content: center;
	margin-bottom: 36px;
}
.logo-img {
	height: 124px;
	width: 124px;
}
.mobile-menu {
	// margin-right: 70px;
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
	}
	&__item {
	}
	&__link {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 20px;
	}
	&__text-rus {
		&::after {
			@extend %font-Microsoft-Jhenghei-700;
			content: ' / ';
		}
	}
	&__text-chi {
		@extend %font-Microsoft-Jhenghei-700;
	}
}
.mobive-nav {
	&__footer {
	}
	&__point-info {
		padding-bottom: 32px;
		margin-bottom: 24px;
		border-bottom: solid #d9d9d9 1px;
	}
	&__point-work-time {
		margin-bottom: 16px;
	}

	&__point-work-time-text {
	}
	&__point-adress {
		display: flex;
		align-items: center;
	}
	&__point-adress-text {
		text-decoration-line: underline;
		text-decoration-style: dashed;
		text-decoration-thickness: 2px;
		text-underline-offset: 6px;

		line-height: 30px;
		padding-bottom: 4px;
		// border-bottom: 2px dashed var(--color-text-dark);
	}
	&__phone {
		margin-bottom: 30px;
	}
	&__phone-text {
		font-size: 20px;
	}
}
.mobive-nav__to-user > .mobile-nav {
	&__to-user-account-btn {
		max-width: 310px;
		width: auto;
	}
}
.mobive-nav__to-user > .delivery__link > .header__booking-text-rus {
	order: -2;
	max-width: none;
}
.mobive-nav__to-user > .delivery__link > .header__booking-separator {
	order: -1;
}
.svg-header--nav-time-dims,
.svg-header--nav-map-dims,
.svg-header--nav-phone-dims {
	margin-right: 8px;
}

.header {
	&__booking {
	}
	&__booking-link {
	}
	&__booking-text-rus {
	}
	&__booking-text {
	}
	&__booking-separator {
	}
	&__booking-text-chi {
	}
}
.delivery {
	&__link {
	}
}
.big {
	&_button {
	}
}

	// Features========================================================================
	.features {
		&__inner {
			margin-top: 24px;
		}
		&__list {
			gap: 11px 27px;
		}
		&__item {
			max-width: 410px;
			grid-template-columns: 100px 1fr;
			border-radius: 10px;
			justify-self: end;
			&:nth-child(2n) {
				justify-self: start;
			}
		}
		&__text {
			padding: 13px 11px 13px 0;
		}
		&__text-rus {
			font-size: 16px;
		}
		&__text-chi {
			font-size: 16px;
		}
	}
	.svg-features--delivery-speed-dims {
		width: 61px;
		height: 61px;
	}
	.svg-features--money-dims {
		width: 70px;
		height: 70px;
	}
	.svg-features--delivery-time-dims {
		width: 61px;
		height: 61px;
	}
	.svg-features--natural-seafood-dims {
		width: 74px;
		height: 74px;
	}
	// Menu=======================================================================
	.section-menu {
		&__inner {
			margin-top: 42px;
		}
		&__title-container {
			margin-right: -20px;
			margin-left: -20px;
			margin-bottom: 18px;
			&:before {
				top: 32px;
				height: 2px;
			}
			&::after {
				height: 116px;
			}
		}
		&__title-rus {
			font-size: 56px;
			padding-right: 23px;
			padding-left: 23px;
		}
		&__title-chi {
			font-size: 40px;
		}
		&__card-list {
			grid-template-columns: repeat(2, 1fr);
			gap: 17px 20px;
			margin-bottom: 50px;
			margin-top: 42px;
		}
		&__see-all-btn {
			grid-template-columns: 4fr 1px 6fr;
			margin-bottom: 70px;
			max-width: 380px;
		}
	}
	.menu-categories {
		&__list {
			padding: 6px;
			border-radius: 31px 0 0 31px;
			&::after {
				background-image: linear-gradient(90deg, transparent 0%, #eeeeee 50%);
				width: 120px;
			}
		}
		&__item {
			padding: 11px 22px;
			border-radius: 25px;
		}
		&__text-rus {
			font-size: 20px;
		}
		&__text-chi {
			font-size: 20px;
		}
		&__menu-arrow-btn {
			top: calc(50% - 17.5px);
			right: 5px;
		}
	}
	.dish-card {
		&__img-container {
			min-height: 236px;
			min-width: 270px;
		}
	}
	.svg-main--menu--arrow-dims {
		width: 35px;
		height: 35px;
	}
	// About===============================================================
	.aboutUs {
		&__title-container {
			margin-right: -20px;
			margin-left: -20px;
			margin-bottom: 18px;
			&:before {
				top: 32px;
				height: 2px;
			}
			&::after {
				height: 116px;
			}
		}
		&__slider-inside {
			height: 955px;
			margin-bottom: 10px;
		}
		&__booking-link {
			top: 794px;
		}
		&__slider-outside {
			height: 955px;
			margin-bottom: 10px;
			&-container {
				margin-top: -1099px;
			}
		}
		&__rus-container {
			font-size: 18px;
		}
		&__chi-text {
			font-size: 24px;
		}
		&__switcher-slider-block {
			top: 49px;
		}
	}
	.aboutUs__slider-inside .aboutUs__slide {
		height: 955px;
	}
	.aboutUs__slider-outside .aboutUs__slide {
		height: 955px;
	}
	.aboutUs__slider-inside-mini .slick-slide {
		margin-left: 7px;
		margin-right: 7px;
	}
	.aboutUs__slider-inside .aboutUs__slider-text-block,
	.aboutUs__slider-outside .aboutUs__slider-text-block {
		text-align: center;
		margin-top: 688px;
		margin-left: 0;
	}
	.aboutUs__slider-inside .aboutUs__slider-text-main,
	.aboutUs__slider-outside .aboutUs__slider-text-main {
		font-size: 40px;
		letter-spacing: 0.04em;
	}
	.aboutUs__slider-inside .aboutUs__slider-text-chi,
	.aboutUs__slider-outside .aboutUs__slider-text-chi {
		font-size: 40px;
		letter-spacing: 0.02em;
	}

	// Reviews=============================================================
	.reviews {
		&__title-container {
			margin-top: 560px;
			margin-right: -20px;
			margin-left: -20px;
			margin-bottom: 18px;
			&:before {
				top: 32px;
				height: 2px;
			}
			&::after {
				height: 116px;
			}
		}
	}
	// Footer==============================================================

	.footer {
		&__inner {
			padding: 37px 0 28px;
		}

		&__main-block {
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, min-content);
		}
		&__logo-link {
			grid-column: 1/2;
			justify-self: start;
		}
		&__logo-img {
			height: 102px;
			width: 102px;
		}
		&__menu-list {
			grid-column: 2/4;
		}
		&__contact-block {
			grid-column: 1/4;
			grid-template-columns: repeat(3, 1fr);
			gap: 6px 13px;
		}
		&__contact {
			grid-row: 2/3;
			grid-column: 2/4;
			justify-content: start;
		}
		&__adress {
			grid-column: 2/4;
			grid-row: 1/2;
			justify-content: start;
		}
		&__rating {
			grid-column: 1/2;
			justify-self: start;
		}
	}
}
