// Desktop first
// @media (max-width: 600px) {

// }

// Mobile first
@media (min-width: 600px) {
	.header {
		&__slide {
			min-height: 683px;
		}
		&__slider-text-block {
			margin-top: 248px;
		}
		&__slider-text-top {
			font-size: 36px;
		}
		&__slider-text-main {
			font-size: 60px;
		}
		&__slider-text-chi {
			font-size: 40px;
		}
		&__inner {
		}
		&__top {
			padding: 20px;
		}
		&__user {
			display: flex;
		}
		&__phone {
			position: absolute;
			display: block;
			color: var(--color-text-light);
			left: calc(50% - 92px);
			top: 162px;
			font-size: 20px;
			column-gap: 12px;
			display: flex;
			align-items: center;
		}

		&__user-tools{
			height: 51px;
			width: 51px;
		}
		&__user-cab-link {
			margin-right: 12px;
		}
		&__cart-items-qauntity {
			width: 22px;
			height: 22px;
			top: -4px;
			right: -9px;
			font-size: 16px;
		}
		&__booking-block{
			display: flex;
			flex-direction: row;
			justify-content: center;
			column-gap: 21px;
			position: absolute;
			top: 496px;
			left: 20px;
			right: 20px;
			
		}
		&__booking-link {
			left: calc(50% - 111px);
			width: 270px;
			height: 76px;
			border-radius: 9px;
		}
		&__booking-text-rus {
			font-size: 16px;
			margin: 19px 12px;
		}
		&__booking-text {
		}
		&__booking-separator {
			height: 63px;
		}
		&__booking-text-chi {
			font-size: 20px;
			padding: 15px;
			min-width: 110px;
		}
	}
	.slick-dots {
		bottom: 23px;
		& li {
			margin: 0 4px;
			width: 8px;
			height: 8px;
			border-radius: 5px;
			&.slick-active {
				width: 45px;
			}
		}
	}

	.booking {
		&__link {
			top: 316px;
		}
	}
	.delivery {
		&__link {
			top: 377px;
			& > .header__booking-text-rus {
				order: 3;
				text-align: left;
				max-width: 135px;
			}
			& > .header__booking-separator {
				order: 2;
			}
		}
	}

	.mobile-burger-btn {
	}
	.menu {
		display: none;
		&__item {
		}
		&__link {
		}
		&__text-rus {
		}
		&__text-chi {
		}
	}
	.logo {
		width: 122px;
		height: 122px;
		position: absolute;
		top: 20px;
		left: calc(50% - 61px);
	}
	.svg-header--user-dims {
		width: 20px;
	}
	.svg-main--menu--cart-dims {
		width: 25px;
	}
	.svg-header--phone-dims {
		width: 17px;
		height: 17px;
	}
}
