.header {
	&__inner {
		position: relative;
	}
	&__top {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		padding: 20px 10px 16px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__point-info {
		display: none;
	}
	&__point-adress {
		display: none;
	}
	&__point-adress-text {
	}
	&__point-work-time {
	}
	&__point-work-time-text {
	}
	&__user {
		display: flex;
	}
	&__phone {
		display: none;
	}
	&__phone-text {
	}
	&__user-cab-link {
		height: 36px;
		width: 36px;
		border-radius: 50%;
		background-color: var(--color-accent);
		display: flex;
		margin-right: 8px;
	}
	&__cart-link {
		display: flex;
		height: 36px;
		width: 36px;
		border-radius: 50%;
		background-color: var(--color-accent);
	}
	&__cart-items-qauntity {
	}
}
.mobile-burger-btn {
}
.menu {
	display: none;
	&__item {
	}
	&__link {
	}
	&__text-rus {
	}
	&__text-chi {
	}
}
.logo {
	width: 102px;
	height: 102px;
	position: absolute;
	top: 20px;
	left: calc(50% - 51px);
}
.booking {
	border-radius: 7px;
	color: var(--color-text-light);
	left: calc(50% - 110px);
	max-width: 220px;
	text-transform: uppercase;
	top: 316px;
	position: absolute;
	background-color: var(--color-accent);
	&__link {
		display: flex;
		align-items: center;
	}
	&__text-rus {
		padding: 13px;
		text-align: right;
		font-size: 11px;
	}
	&__text-chi {
		min-width: 88px;
		padding: 13px;
		font-size: 14px;
	}
}
.delivery {
	border-radius: 7px;
	color: var(--color-text-light);
	left: calc(50% - 110px);
	max-width: 220px;
	top: 377px;
	text-transform: uppercase;
	position: absolute;
	background-color: var(--color-accent);
	&__link {
		display: flex;
		align-items: center;
	}
	&__text-chi {
		min-width: 88px;
		padding: 13px;
		font-size: 14px;
	}
	&__text-rus {
		padding: 13px;
		text-align: left;
		font-size: 11px;
	}
}
