.section-menu {
	&__inner {
		margin-top: 18px;
	}
	&__title-container {
		position: relative;
		display: grid;
		justify-items: center;
		text-align: center;
		margin-right: -10px;
		margin-left: -10px;
		margin-bottom: 15px;
		&:before {
			content: '';
			position: absolute;
			display: block;
			top: 18px;
			width: 100%;
			height: 1px;
			background-color: var(--color-stroke-medium);
		}
		&::after {
			content: '';
			display: block;
			height: 71px;
		}
	}
	&__title {
		position: absolute;
	}

	&__title-rus {
		text-transform: uppercase;
		font-size: 34px;
		@extend %font-Oranienbaum-400;
		background-color: var(--color-bg);
		padding-right: 14px;
		padding-left: 14px;
	}
	&__title-chi {
		@extend %font-Microsoft-Jhenghei-400;
		font-size: 24px;
	}
	&__card-list {
	}
	&__see-all-btn {
	}
	&__see-all-text-chi {
	}
	&__see-all-separator {
	}
	&__see-all-text-rus {
	}
}
.menu-categories {
	&__list {
		display: flex;
		background-color: #eeeeee;
		// overflow: hidden;
		padding: 5px;
		border-radius: 25px 0 0 25px;
		background-image: linear-gradient(90deg, transparent 80%, #eeeeee 100%);
	}
	&__item {
		display: flex;
		flex-shrink: 0;
		padding: 9px 19px;
		border-radius: 20px;
	}
	&__item--active {
		background-color: var(--color-accent);
		color: var(--color-text-light);
	}
	&__link {
	}
	&__text-rus {
	}
	&__text-chi {
		@extend %font-Microsoft-Jhenghei-700;
	}
}
.dish-card {
	&__img-link {
	}
	&__labels {
	}
	&__label-new {
	}
	&__label-hit {
	}
	&__label-sale {
	}
	&__title {
	}
	&__title-chi {
	}
	&__title-rus {
	}
	&__weight {
	}
	&__price-block {
	}
	&__price-current {
	}
	&__price-old {
	}
	&__purchase {
	}
	&__counter-block {
	}
	&__minus {
	}
	&__counter {
	}
	&__plus {
	}
	&__add-to-cart-btn {
	}
}
.svg-main--menu--cart-dims {
	width: 31px;
	height: 31px;
}
