// .mobile-nav {
// 	&__menu {
// 		&:has(.mobile-nav--active) {
// 			transition: 0.7s;
// 			position: absolute;
// 			background-color: rgba($color: #1b1b1b, $alpha: 0.5);
// 			width: 100vw;
// 			height: 100vh;
// 		}
// 	}
// 	&__wrapper {
// 		background-color: #fff;
// 		margin: 0 auto;
// 		left: 0;
// 		right: 0;
// 		top: -100%;
// 		position: absolute;
// 		width: 360px;
// 		text-align: center;
// 		transition: 0.7s;
// 	}

// 	&__top {
// 		padding: 20px;
// 		display: flex;
// 		flex-direction: row-reverse;
// 	}
// 	&__close-btn {
// 	}
// 	&__list {
// 		font-size: 24px;
// 		line-height: normal;
// 	}
// 	&__item {
// 		margin-bottom: 30px;
// 	}
// 	&__link {
// 		color: #000;
// 	}
// 	&__list-addi {

// 		font-size: 14px;
// 	}
// 	&__item-addi {
// 		margin-bottom: 35px;
// 	}
// 	&__link-addi {
// 		color: #000;
// 	}
// 	&__icons {
// 		background-color: var(--color-descr);
// 		display: flex;
// 		padding: 20px 80px;
// 		justify-content: space-between;
// 	}
// 	&__search-link {
// 	}
// 	&__tools {
// 	}
// 	&__cart-link {
// 	}
// 	&__user-link {
// 	}
// }
// body:has(.mobile-nav--active) {
// 	overflow-y: hidden;
// }
// .mobile-nav__wrapper.mobile-nav--active {
// 	top: 0;
// }
// .svg-icons--cross-dims {
// 	height: 20px;
// 	width: 20px;
// }
.svg-icons--closeNavBtn-dims {
	height: 35px;
	width: 35px;
}
.svg-header--nav-time-dims,
.svg-header--nav-map-dims,
.svg-header--nav-phone-dims {
	width: 20px;
	height: 20px;
}
.mobile-nav {
	&__inner {
		z-index: 1;
		display: flex;
		transition: 0.7s;
		position: absolute;
		background-color: rgba($color: #1b1b1b, $alpha: 0.96);
		width: 100vw;
		// width: calc(100vw - var(--scrollbar-width));
		height: 100vh;
	}

	&__close {
		position: absolute;
		top: 24px;
		right: 24px;
	}
	&__close-icon {
	}
	&__main {
		max-width: 80vw;
		padding: 30px 40px;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__head {
	}
}
@media (min-device-width: 1025px) {
	.mobile-nav {
		&__inner {
			width: calc(100vw - var(--scrollbar-width));
		}
	}
}
.nav-logo {
	display: flex;
	justify-content: center;
	margin-bottom: 36px;
}
.logo-img {
	height: 124px;
	width: 124px;
}
.mobile-menu {
	// margin-right: 70px;
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 24px;
	}
	&__item {
	}
	&__link {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 20px;
	}
	&__text-rus {
		&::after {
			@extend %font-Microsoft-Jhenghei-700;
			content: ' / ';
		}
	}
	&__text-chi {
		@extend %font-Microsoft-Jhenghei-700;
	}
}
.mobive-nav {
	&__footer {
	}
	&__point-info {
		padding-bottom: 32px;
		margin-bottom: 24px;
		border-bottom: solid #d9d9d9 1px;
	}
	&__point-work-time {
		margin-bottom: 16px;
	}

	&__point-work-time-text {
	}
	&__point-adress {
		display: flex;
		align-items: center;
	}
	&__point-adress-text {
		text-decoration-line: underline;
		text-decoration-style: dashed;
		text-decoration-thickness: 2px;
		text-underline-offset: 6px;

		line-height: 30px;
		padding-bottom: 4px;
		// border-bottom: 2px dashed var(--color-text-dark);
	}
	&__phone {
		margin-bottom: 30px;
	}
	&__phone-text {
		font-size: 20px;
	}
}
.mobive-nav__to-user > .mobile-nav {
	&__to-user-account-btn {
		width: auto;
	}
}
.mobive-nav__to-user > .delivery__link > .header__booking-text-rus {
	order: -2;
	max-width: none;
}
.mobive-nav__to-user > .delivery__link > .header__booking-separator {
	order: -1;
}
.svg-header--nav-time-dims,
.svg-header--nav-map-dims,
.svg-header--nav-phone-dims {
	margin-right: 8px;
}

.header {
	&__booking {
	}
	&__booking-link {
	}
	&__booking-text-rus {
	}
	&__booking-text {
	}
	&__booking-separator {
	}
	&__booking-text-chi {
	}
}
.delivery {
	&__link {
	}
}
.big {
	&_button {
	}
}
