.reviews {
	&__slider {
	}
	&__slider-list {
	}
	&__slider-card {
	}
	&__slider-card-inner {
	}
	&__slider-card-text {
	}
	&__slider-card-info {
	}
	&__slider-card-rating {
	}
	&__slider-card-date {
	}
	&__slider-card-author {
	}
	&__slider-card-avatar {
		width: 46px;
		height: 46px;
		border-radius: 50%;
	}
	&__slider-card-name {
	}
}
.svg-main--rewievs--star-dims {
	height: 24px;
	width: 24px;

}
.svg-main--rewievs--star-w-o-fill-dims {	height: 24px;
	width: 24px;
}
